body{
    padding: 0;
    margin:0;
    font-style: oblique;
    background-color:blanchedalmond;
    height: 100vh;
    
}

/* Nav  css */

.nav-links{
    background-color: rgba(255, 255, 255, 0.436);
    padding:0rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    margin:0;
  border-radius: 49px;

    
}
.nav-links:hover{
    background-color: rgba(255, 255, 255, 0.436);
}
.my-name{
    display: flex;
    justify-content: center;
    padding: 1%;
    
}
li{
    display: inline;
    padding: 2rem;
   
}
li:hover{
    background-color: rgba(186, 69, 69, 0.436);
    border-radius: 49px;
    
}
a{
    text-decoration: none;
    text-transform:capitalize;
    color: black;
}

/* Footer CSS */

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-links{
    padding: 1rem;
    margin: .5rem;
    
}
.social-icon{
    color: brown;
    padding:.5rem;
}
.cpyrght{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1rem;
}
/* About CSS */
.about-container{
    padding: 2rem 4rem;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse; */
}
.about-container-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.img-me{
    height: 100%;
    width: auto;
    border-radius: 10%;
}

.about-container-column p{
    font-size: x-large;
    text-align: center;
}
/* PROJECTS CSS */

.projects-container{
    background-color: whitesmoke;
    padding: 0 4rem 3rem;
}
.border-line{
    width: 100%;
    border: 1px solid brown;
    margin-top: 0;
    margin-bottom: 2rem;
}
.title-container{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   justify-content: space-between;
   align-items: center;
   max-width: 200%;

}
.title-container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1.5rem;
}
.title-line{
    padding:.5rem;
    width: 100%;
    border: 1px solid brown;
}

/* PROJECT CARDS CSS */

img{
    border-radius: 49px;
}
button{
   
    border-radius: 49px;
}
button:hover{
    background-color: #fff;
}
.project-column-grid{
    display: grid;
    grid-template-columns:1fr;
    grid-gap: 3rem;
    padding: 2rem;
}
.project-column-grid_column{
    box-shadow: inset 0 -3em 3em rgb(0 0 0 / 10%), 0 0 0 2px #fff, 0.3em 0.3em 1em rgb(0 0 0 / 30%);
    border: 1px solid brown;
    border-radius: 49px;
    padding: 0.8rem;
    background-color: blanchedalmond;
    height: 100%;
}
.project-img{
    height: 100%;
    width: 100%;
}
.project-btn{
    padding: .5rem;
    margin:.5rem;
    
}

/* CONTACT CSS */

.form-container{
    
    display: flex;
    border-radius: 49px;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    
 
}
.form-input-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.form-input-container > input{
    padding: 1rem;
    border-radius: 49px;
    margin: 1rem;
    width: 100%;
    border: 2px solid, brown;
}
.btn-form{
    padding: .5rem;
    margin: 1rem;
    width: 100%;
    border: 2px solid, brown;
}
.btn-form:hover{
    background-color: white;
}


@media screen and (min-width: 1000px){
   .project-column-grid{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px,auto);
    
    }

    
}
